
/* Fonts Geral*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');

body{
    font-family: "Spicy Rice", serif; /**/
    color:#ffffff;/**/
    background: #2d1d1dc4 ;/**/
}

#hero .hero-container h1 {
    text-shadow: 0px 3px 10px #991616;
}

a{
    text-decoration: none;
    color: #896363dd;
}
a:hover{
    color: #4907076d ;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Spicy Rice", system-ui;
}
/* cabeçalho == header*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #3d0101be; /* Fundo header vertical*/
    transition: all ease-in-out .5s;
    z-index: 9999;
    padding: 0 15px;
    overflow-y: auto;
}
#header .perfil img{
    margin: 15px auto;
    display: block;
    width: 140px;
    border:  3px solid #370202dd ;
    box-shadow: 0px 5px 15px #fff;
}
 .text-light a {
    font-family: "Spicy Rice";
    /*Font-weight: ¨600; Para fontes Finas*/
    color: #ca6363dc;
    font-size: 50px;
}
.text-light a:hover{
    color: #8d73a08c;
    transition: all .5s;
}
#header .perfil .social-links i{
    font-size: 28px;
    color: #ffff;
    background: #8a1e1e92;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}
#header .perfil .social-links i:hover{
    color: #e6e6e6;
    background: black;
    transition: all 0.3s;
}
/* Fim header*/
#main{
    margin-left: 300px;
}
.container, .container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}
/* Navigation menu*/
/*Desktop Navigation*/
.nav-menu{
    padding: 30px 0 0 0;
}
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus{
    display: flex;
    align-items: center;
    color: #eaebf0c2;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
/* icones  menu*/
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #cdaaaacc;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #f3c1c1e2;
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color:#563636; ;
}
/*Mobile Menu*/
.mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 99999;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #d35b5b;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}
.mobile-nav-active {
    overflow: hidden;
}
.mobile-nav-active #header {
    left: 0;
}
/* resolução mobile */
@media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
/*Hero*/
#hero{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg);
    background-size: cover;
}
#hero:before{
    content: "";
    background: rgba(86, 54, 54, 0.3);
    position: absolute;
    inset: 0;
    z-index: 1;
}
#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}
#hero h1{
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 900;
    line-height: 56px;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
}
#hero p{
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins; sans-serif";
}
#hero p span{
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #563636;
}
@media(min-width: 1024px) {
    #hero{
        background-attachment: fixed;
    }
}
@media(max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}
/* Seções gerais*/
section{
    padding: 60px 0 ;
    overflow: hidden;
}
.section-bg{
    background: #750a0a;
}
.section-title{
    padding-bottom: 30px;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #260303;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-title h2:after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #460606;
    bottom: 0;
    left: 0;
}
.section-title p{
    margin-bottom: 0;
    color: #121010;
    font-family: "Open Sans", sans-serif;
}
/* # About*/
.about .content h3{
    font-weight: 700;
    font-size: 26px;
    color: #260303;
}

.about .content ul{
    list-style: none;
    padding: 0;
}
.about .content ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about .content ul strong{
    margin-right: 10px;
    color: #600707;
    font-weight: 200;
}
.about .content ul span{
    color: #0c0b0b;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.about .content p{
    color: #520202;
    font-family: "Poppins";
    font-weight: 600;
}
.about .content ul i{
    font-size: 16px;
    margin-right: 5px;
    color: #304052;
    line-height: 0;
}

.about .img-fluid {
    width: 200px;
}

/* em telas grandes o conteudo fica proximo a foto*/
@media (min-width: 1024px) {
    .about .content {
        margin-left: -100px;
    }
}